@charset "UTF-8";

.user_message {
	display: flex;
	margin: 50px 0;
	* {
		margin-right: 10px;
	}
}

#messageContainer {
	margin: 50px 0;
	border: 1px black solid;
	padding: 25px;
	max-width: 500px;
}
